<h3><%= @photo.description %></h3>
<p><%= image_tag @photo.picture.url %></p>

<p><% if current_user.favorites.find_by(photo_id: @photo.id) %>
    <%= link_to "unfavorite <span class='badge'>#{@photo.faved}</span>".html_safe, user_photo_favorite_path(@user, @photo, current_user.favorites.find_by(photo_id: @photo.id)), data: {method: "delete"}, class: "btn btn-danger" %></p>
  <% else %>
    <%= link_to "mark favorite <span class='badge'>#{@photo.faved}</span>".html_safe, user_photo_favorites_path(@user, @photo), data: {method: "post"}, class: "btn btn-primary" %></p>
  <% end %>
<p>
  Tagged Users: <% @photo.users.each do |user| %>
  <button class="btn btn-default"><%= link_to "#{user.username}", user_path(user) %>  <%= link_to "x", user_photo_tag_path(@user, @photo, @photo.tags.find_by(user_id: user.id)), data: {confirm: "Are you sure?", method: "delete"} %></button>
  <% end %>
</p>

<% if User.all.length > @photo.users.length %>
  <%= form_for [@user, @photo, @tag] do |f| %>
    <%= f.collection_select :user_id, User.all - @photo.users, :id, :username %>
    <%= f.submit "Tag 'em", class: "btn btn-primary" %>
  <% end %>
<% end %>
