<h3><%= @photo.description %></h3>
<p><%= image_tag @photo.picture.url %></p>

<%= link_to "mark favorite", user_photo_favorites_path(@user, @photo), data: {method: "post"}, class: "btn btn-primary" %>

<p>
  Tagged Users: <% @photo.users.each do |user| %>
  <button class="btn btn-default"><%= user.username + "  " %><%= link_to "x", user_photo_tag_path(@user, @photo, @photo.tags.find_by(user_id: user.id)), data: {confirm: "Are you sure?", method: "delete"} %></button>
  <% end %>
</p>

<% if User.all.length > @photo.users.length %>
  <%= form_for [@user, @photo, @tag] do |f| %>
    <%= f.collection_select :user_id, User.all - @photo.users, :id, :username %>
    <%= f.submit "Tag 'em", class: "btn btn-primary" %>
  <% end %>
<% end %>
