<!DOCTYPE html>
<html>
<head>
  <title>Picswap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>

    <hr>
    <% if current_user %>
      <%= link_to "Home", root_path, method: "get", class:"btn btn-default" %>
      <%= link_to "#{current_user.username}'s Profile", user_path(current_user), method: "get", class:"btn btn-warning" %>
      <%= link_to "#{current_user.username}'s Photos", user_photos_path(current_user), method: "get", class:"btn btn-info" %>
      <%= link_to "Log Out", logout_path("current"), method: "get", class:"btn btn-danger" %>
    <% else %>
      <%= link_to "Sign Up", signup_path, class:"btn btn-info" %>
      <%= link_to "Log in", login_path, class:"btn btn-success" %>
    <% end %>
  </div>
</body>
</html>
